body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #333;
}

.video-container {
  max-width: 700px;
  padding: 20px;
  background-color: #fff;
  border: 5px solid #007BFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  outline: none;
}

p {
  font-size: 16px;
  color: #555;
}