@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Головна сторінка адмін-панелі</h1>
<div><b>Контролер: </b>@ViewBag.Controller</div>
<div><b>Метод дії: </b>@ViewBag.Action</div>