<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Ресторани Тернополя</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a class="navbar-brand" asp-controller="Restaurants" asp-action="Index">Каталог ресторанів</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @* <li class="nav-item">
                    <a class="nav-link" asp-controller="Restaurants" asp-action="Index">Головна</a>
                </li> *@
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Restaurants" asp-action="Index">Ресторани</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Categories" asp-action="Index">Категорії</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
