@model IEnumerable<RestaurantsCatalog.Models.Category>
@{
    ViewData["Title"] = "Категорії";
}

<h2>Категорії</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Додати категорію</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Кількість ресторанів</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Restaurants.Count</td>
                <td>
                    <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-info btn-sm">Деталі</a>
                </td>
            </tr>
        }
    </tbody>
</table>
