@page
@model ASP_Meeting_7.Pages.AboutModel
@{
    //Layout = "_Layout";
}
<h1>Про нашу компанію</h1>
@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", () => { 
            alert("Вітаємо на сторінці про нашу компанію!");
        });
    </script>
}