<h2>{{user.id ? 'Edit user' : 'Add user'}}</h2>

<form (ngSubmit)="onSave()">
  <div>
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="user.name" name="name" required>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="user.email" name="email" required>
  </div>

  <div>
    <label for="age">Age:</label>
    <input id="age" [(ngModel)]="user.age" name="age" required>
  </div>

  <button class="save-button" type="submit">Save</button>
</form>