<p>&laquo;Patience is a key element of success&raquo; — <strong>Bill Gates</strong></p>
<ul>
  <li>If you think your teacher is tough, wait till you get a boss</li>
  <li>Life is not fair — get used to it!</li>
  <li>Success is a lousy teacher. It seduces smart people into thinking they can’t lose</li>
  <li>Be nice to nerds. Chances are you’ll end up working for one</li>
</ul>

<div>
  <img
    src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcQ5q_alP8jzpTv_T3zupEpRfFIbo2qQkttFuW3AzE00-8zljPbVNRU44S_SqBOitpM143Owjd6myNdrtCo">
  <p>William Henry Gates III (born October 28, 1955) is an American business magnate best known for co-founding the
    software company Microsoft with his childhood friend Paul Allen. During his career at Microsoft, Gates held the
    positions of chairman, chief executive officer (CEO), president, and chief software architect, while also being its
    largest individual shareholder until May 2014.He was a pioneer of the microcomputer revolution of the 1970s and
    1980s.</p>
</div>

<h2>Resources:</h2>
<h3>
  <a href="https://uk.wikipedia.org/wiki/Білл_Гейтс" target="_blank">Wiki</a>,
  <a href="https://www.gatesfoundation.org/" target="_blank">Gate`s foundation</a>,
  <a href="https://www.gatesnotes.com/" target="_blank">Gate`s Notes</a>,
  <a href="https://twitter.com/billgates" target="_blank">Twitter</a>.
  <h3>