body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #333;
}

canvas {
  background-color: #000;
  border: 2px solid #00ff00;
}

#info {
  margin: 20px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.game {
  display: flex;
  align-items: start;
  justify-content: center;
  position: relative;
  gap: 15px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: -200px;
}

#difficultyBtn,
#regenFieldBtn {
  width: 160px;
  background-color: #444;
  color: white;
  font-size: 16px;
  border: 2px solid #00ff00;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#difficultyBtn:hover,
#regenFieldBtn:hover {
  background-color: #555;
}

#difficultyBtn:active,
#regenFieldBtn:active {
  transform: scale(0.95);
}

#note {
  font-size: 16px;
  color: #ccc;
  margin-top: 10px;
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 394px;
}

#myStatsBtn,
#leaderboardBtn {
  width: 160px;
  background-color: #444;
  color: white;
  font-size: 16px;
  border: 2px solid #00ff00;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#myStatsBtn:hover,
#leaderboardBtn:hover {
  background-color: #555;
}

#myStatsBtn:active,
#leaderboardBtn:active {
  transform: scale(0.95);
}