@page "{id}"
@model ASP_Meeting_7.Pages.Authors.EditModel
@{
}
<div class="container">
<form method="post" asp-antiforgery="true">
    <input type="hidden" asp-for="Author.Id" />
    <div class="mb-3">
        <label class="form-label" asp-for="Author.Firstname" ></label>
        <input type="text" asp-for="Author.Firstname"
               class="form-control"  />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Author.Surname"></label>
        <input type="text" asp-for="Author.Surname"
                   class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Author.YearOfBirth"></label>
        <input type="number" asp-for="Author.YearOfBirth"
                   class="form-control"  />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Зберігти</button>
    </div>
</form>
</div>